<div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !Id.valid }">
          <label for="Id">Username</label>
          <input type="text" class="form-control" name="Id" [(ngModel)]="model.Id" #Id="ngModel" required />
          <div *ngIf="f.submitted && !Id.valid" class="help-block">Username is required</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !Password.valid }">
            <label for="Password">Password</label>
            <input type="password" class="form-control" name="Password" [(ngModel)]="model.Password" #Password="ngModel" required />
            <div *ngIf="f.submitted && !Password.valid" class="help-block">Password is required</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !F_Name.valid }">
            <label for="F_Name">First Name</label>
            <input type="text" class="form-control" name="firstName" [(ngModel)]="model.F_Name" #F_Name="ngModel" required />
            <div *ngIf="f.submitted && !F_Name.valid" class="help-block">First Name is required</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !L_Name.valid }">
            <label for="L_Name">Last Name</label>
            <input type="text" class="form-control" name="L_Name" [(ngModel)]="model.L_Name" #L_Name="ngModel" required />
            <div *ngIf="f.submitted && !L_Name.valid" class="help-block">Last Name is required</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !E_Mail.valid }">
            <label for="E_Mail">E Mail Address</label>
            <input type="email" class="form-control" name="E_Mail" [(ngModel)]="model.E_Mail" #E_Mail="ngModel" required />
            <div *ngIf="f.submitted && !E_Mail.valid" class="help-block">E Mail Address is required</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !Phone_Number.valid }">
            <label for="Phone_Number">Phone Number</label>
            <input type="number" class="form-control" name="Phone_Number" [(ngModel)]="model.Phone_Number" #Phone_Number="ngModel" required />
            <div *ngIf="f.submitted && !Phone_Number.valid" class="help-block">Phone Number is required</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !DOB.valid }">
            <label for="DOB">Date Of Birth</label>
            <input type="date" class="form-control" name="DOB" [(ngModel)]="model.DOB" #DOB="ngModel" required />
            <div *ngIf="f.submitted && !DOB.valid" class="help-block">Date of Birth is required</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !Type.valid }">
            <label for="Type">User Type</label>
            <input type="radio" class="form-control" name="Type" [(ngModel)]="model.Type" #Type="ngModel" required value="ATH" checked> Athlete<br>
            <input type="radio" class="form-control" name="Type" [(ngModel)]="model.Type" #Type="ngModel" required value="COA"> Coach<br>
            <div *ngIf="f.submitted && !Type.valid" class="help-block">User Type is required</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !Bio.valid }">
            <label for="Bio">Bio</label>
            <input type="text" class="form-control" name="Bio" [(ngModel)]="model.Bio" #Bio="ngModel" required />
            <div *ngIf="f.submitted && !Bio.valid" class="help-block">Bio is required</div>
        </div>

        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Register</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>
